<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
    <meta charset="UTF-8">
    <title>Calm breeze login screen</title>
    
    
    
    
        <link rel="stylesheet" href="static/css/style1.css">

    
    
    
  </head>

  <body>

    <div class="wrapper">
	<div class="container">
		<h1>REGISTRATE</h1>
		
                <form action="" method="POST" class="form">
                    <input type="text" placeholder="Nombre Completo" name="name">
                    <input type="text" placeholder="Usuario" name="user">
                    <input type="text" placeholder="Email" name="email">
                    <input type="password" placeholder="Contrasena" name="pass">

                    
                       <button type="submit" >Registrar</button>
                       	<li></li>
                       <th><a href="/Registrar">Registrarse</a></th>
		</form> 
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
