{% extends "principal.html" %}
{% block content %}

  <table class="table">
  <thead class="table-responsive">
    <tr>
      <th><a href="/reporte1">REPORTE 1</a></th>
      <th><a href="/reporte2">REPORTE 2</a></th>
      <th><a href="/reporte3">REPORTE 3</a></th>
      <th><a href="/reporte4">REPORTE 4</a></th>
      <th><a href="/reporte5">REPORTE 5</a></th>
      </tr><tr>
      <th><a href="/reporte6">REPORTE 6</a></th>
      <th><a href="/reporte7">REPORTE 7</a></th>
      <th><a href="/reporte8">REPORTE 8</a></th>
      <th><a href="/reporte9">REPORTE 9</a></th>
      <th><a href="/reporte10">REPORTE 10</a></th>
    </tr>
  </thead>
</table>




{% endblock %}